/* YOUR STYLING HERE */
body {
  background-color: lightblue;
  padding: 20px;
  margin: 20px;
}

input {
  margin-left: 10px;
}

.border {
  border: solid;
  padding: 20px;
}

.button {
  border: black solid 4px;
  color: lime;
}

.app {
  border: black solid 4px;
  margin: 5px;
  padding: 5px;
}

.list {
  border: solid 2px blue;
  max-width: 600px;
  padding: 15px;
  margin: 20px;
}

.form {
  border: solid 2px yellow;
  max-width: 600px;
  padding: 15px;
  margin: 20px;
}

.tile {
  border: solid 2px fuchsia;
  max-width: 600px;
  padding: 15px;
  margin: 20px;
}
